h1 {
    color: black;
    
}

form {
    background-color:blueviolet;
    padding: 10px;
    border-radius: 5px;
}
body {
    text-align: center;
}

#container {
    border: 6px solid black;
    width: 50%;
    border-radius: 9px;
    margin: 2rem auto;
    background-color: lightpink;
    
    
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2rem auto;
    
}

input[type="button"] {
    width: 8rem;
    margin: 1rem auto 0;
    padding: 0.3rem;
    border-radius: 4px;
}

textArea {
    width: 50%;
    margin: auto;    
    border-radius: 6px;

}

@media only screen and (max-width: 800px){
    textArea {
        width: 80%;
      margin: 5px 30px 10px;
    
    }
    #container {
        width: 100%;
        padding: 10px 1px 10px 5px;
    }
    form {
        width: 80%;
        padding: 1px 10px ;
    }
   
}


