.header { background-color: darkcyan;
    margin: 0px;
    padding: 20px 0px 30px 30px;
    font-size: 15px;
    color: white;
}

.nav { 
    background-color: burlywood;
    color: burlywood;
    margin: 20px;
    padding:20px 20px 10px 30px;
    font-size: 25px;
    font-family: Arial;
  
    

}
.start{
    margin: 10%;
}
.gingers {
    margin: 10%;
}
.games {
    margin: 10%;
}
.anime {
    margin: 10%;
}

.wrapper {
    width :100%;
}

.img-banner {
    width :100%;
}

.img-info {
    width: 100%;
}


.img-info h2 {
    padding: 30px 30px 20px;
    font-family: Arial;
    font-size: 40px;
    color: #111;
    line-height: 44px;
}

.img-info p {
    padding: 0px 30px 20px;
    font-family: Arial;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}

.img-me {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .img-banner {
    width: 100%;

}
.wrapper {
    width: 100%;
    margin: 0 auto;
}
.img-info h2 {
    padding: 20px 10px 0px;
    
}

.img-info p {
    padding: 20px 0px 0px;
    
}

.img-me {
    padding-top: 30px;
}

.nav { 
    
    font-size: 20px;
    

}
.header { background-color: darkcyan;
padding: 20px 0px 30px 30px;
    font-size: 12px;
}
}

@media only screen and (min-width: 800px) {
     .wrapper {
      width :1000;
        

    }

    .img-info {
        width: 48%;
       float: left;
       
       
    }

    .img-info h2 {
<<<<<<< HEAD:tilllämpad programering/Webbplatsen/css.css
        padding: 20px 0px 0px 0px;
=======
        padding: 20px 0px 0px 30px;
        font-size: 38px;
>>>>>>> 2eb2b812bc9801d37eac621a1ddba9895df8a9cf:Websidan/2websidan.css
    }

    

    .img-info p {
        padding: 20px 0px 0px 00px;
        
    }

    .img-banner {
        padding: 100px 0px 0px;
        width: 50%;
        float:right;
    }


}