body{
    background-color: rgba( 120, 120, 130, 1);
}

#IT,
#Media {
  display: none;
}

#mandag,
#tisdag,
#onsdag,
#torsdag,
#fredag{
    display: none;
}


.show {
  display: block;
}

.Text5{
    color:white;
    background-color: black;
   width: auto;
   line-height: 17px;
   margin: 0px 20%;
   border-radius: 20px;
   padding: 20px 20px;
}

.Media{
    color:white;
    background-color: black;
   width: auto;
   line-height: 17px;
   display: flex;
   align-content: center;
   float: right;
}

.btn {
    display: flex;
    justify-content: space-between;
    padding: 20px 20%;
}

.matschema {
    display: flex;
    justify-content: center;
    padding: 20px 20%;
}

.Rubrik1 {
    border-radius: 20px;
    color: skyblue;
    background-color: rgb(34, 34, 34);
    font-size: 25px;    
    padding: 30px;
    margin: 5px;
    justify-content: center;
    display:flex;
   
}



.Text1{
    border-radius: 20px;
    color: whitesmoke;
    background-color: rgb(51, 51, 51);
    font-size: 18px;    
    padding: 30px 20px;
    margin: 5px;


}

.Text2{
    border-radius: 20px;
    color: whitesmoke;
    background-color: rgb(51, 51, 51);
    font-size: 18px;    
    padding: 30px 20px;
    margin: 5px;
    line-height: 25px;

}

.Text3{
    border-radius: 20px;
    color: whitesmoke;
    background-color: rgb(51, 51, 51);
    font-size: 18px;    
    padding: 30px 20px;
    margin: 5px;
    line-height: 25px;
}

.Text4{
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    color: whitesmoke;
    background-color: rgb(51, 51, 51);
    font-size: 18px;    
    padding: 30px 20px;
    margin: 5px;
    line-height: 25px;
}


.Text6{
    background-color: rgb(56, 56, 56);
    color: white;
    font-size:20px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    border-radius: 20px 20px;
    border:2px solid lightgray ;
    

}





h2{
width: 40%;
align-content: left;
justify-content: center;
display: flex;
background-color: rgb(171, 224, 221);
margin: 10px;
padding: 10px;
border-radius: 10px;
border: 2px solid rgb(37, 78, 74);

}

.table {
   /* border-collapse: collapse;*/
    width: 100% ;
    text-align: left;
    line-height: 22px;
    color: white;
    background-color: #272626;
    

    padding: 30px 30px;
}




@media only screen and (max-width: 750px) {
h2{
    display: flex;
    justify-content: center;
    width: auto;
}
.btn{
    padding: 10px 10px;
}
.Text3{
    font-size: 15px;
}

.Text4 {
    display: flex;
    justify-content: center;
    align-content: center;
    width:100%;
    font-size: 10px;
}

.Text5{
    margin: auto;
    
    
}

.Rubrik2 {
    border-radius: 20px;
    color: skyblue;
    background-color: rgb(34, 34, 34);
    font-size: 10px;    
    padding: 10px;
    margin: 5px;
    justify-content: center;
    display:flex;
    border: 2px solid skyblue;
   
}

.Text7{
    background-color: rgb(41, 38, 38);
    color: white;
    font-size:20px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    border-radius: 20px ;
    margin: 20px;
    text-align: center;
    border: 2px solid hotpink;
}



}





@media only screen and (min-width: 750px) {
    .Text1 {
        display: flex;
        float: left;
        width: 45%;
    }
    .Text2 {
    display: flex;
    float: right;
    width: 50%;
    }
    .Text3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Text4{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin: 10px;
        padding: 30px 200px;

            
        
    }

    .Text5{
        margin: 0px 40%;
    }

    .Text7{
        background-color: rgb(41, 38, 38);
        color: white;
        font-size:20px;
        padding: 40px 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        border-radius: 20px ;
        margin: 20px 30%;
        border: 2px solid hotpink;
    }
    

    .Rubrik2 {
        border-radius: 20px;
        color: skyblue;
        background-color: rgb(34, 34, 34);
        font-size: 25px;    
        padding: 30px;
        margin: 5px;
        justify-content: center;
        display:flex;
        border: 2px solid skyblue;
        
       
    }

}
